.container {
    max-width: 960px;
    margin: auto;
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica;
}

.phrase {
    overflow-wrap: normal;
}


.time {
    font-weight: bold;
    font-family: monospace;
    &Year {
        color: #ff2727;
    }
    &Day {
        color: #ffb52d;
    }
    &Hour {
        color: #ffff44;
    }
    &Minute {
        color: #3eec3e;
    }
    &Second {
        color: #52c3ff;
    }
    &Millisecond {
        color: #fd79fd;
    }
    &Left {
        color: #dacca1;
    }
}
